ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
  background-color: lightgray;
  list-style: none;
}

li {
  font: green;
  font-weight: bold;
  font-size: 2rem;
}

a {
  text-decoration: none;
  font: green;
}

a:hover,
a:active {
  color: red;
}